{
  "workspaceSession": {
    "daily_notes": {
      "root": "trilium:fGRkBZG1A113",
      "root_path": "#root/V83RZAMdWE4t/j7IuML86uLAF/fGRkBZG1A113",
      "description": "每日笔记目录"
    },
    "project_notes": {
      "root": "trilium:wz1kyVAE8HVO",
      "root_path": "#root/V83RZAMdWE4t/j7IuML86uLAF/wz1kyVAE8HVO",
      "description": "项目笔记目录"
    },
    "default_local_path": "notes"
  }
}